
.form{
    text-align: center;
    color: black;
    padding: 1rem;
    margin: 1rem .5rem;
    font-size: .825rem;
    width: 90%;
    height: 60%;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}


/* Estilo dos inputs */
.form_grupo{
    margin: 10px 0;
    font-size: .725rem;
    transition: 0.3s;
    text-align: left;
}

.form_input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input:focus,
textarea:focus select:focus {
    border-color: #0066b2;
    outline: none;
    box-shadow: 0 0 5px #0066b2;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
}

button:hover {
    background: #0056b3;
}

/* Estilo de placeholders */
input::placeholder,
textarea::placeholder {
    color: #888;
    font-size: 12px;
}

/* Logo da página */
img {   
    max-width: 150%;
    height: 100px;    
}
.logo {
        text-align: center;
        padding: 5px;
}

@media screen and (min-width: 320px) {
    .form {

        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 415px) {
    .form {

        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .form {

        grid-template-columns: 1fr 1fr;
    }
}