* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
   
}
body{

    background-color: #f6f8fc;
}
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    

}
